#####################################################################
#  Displays
#####################################################################
[display]
##  mini12864 LCD Display
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
contrast: 63
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2

[neopixel neo_display]
##	To control Neopixel RGB in mini12864 display
pin: EXP1_6
chain_count: 3
color_order: RGB
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0

[output_pin _BEEPER]
pin: EXP1_1
pwm: TRUE
value: 0
shutdown_value: 0
# PWM frequency : 0.001 = 1ms will give a base tone of 1kHz
cycle_time: 0.0024
 
#####################################################################
# 	Bepper Macro
#####################################################################
#  M300 [P<ms>] [S<Hz>]
#  P is the tone duration, S the tone frequency.
#  The frequency won't be pitch perfect.
[gcode_macro M300]
description: Set Beeper value
#  Volume can be adjusted with VALUE. Maximum volume is VALUE=0.5 on the 12864.
default_parameter_S: 440
default_parameter_P: 100
gcode:
    # set default parameter value
    {% set freq = params.S|default(440)|float %}
    {% set time = params.P|default(100)|int %}
    {% if S|float != 0 %}
        SET_PIN PIN=_BEEPER VALUE=0.3 CYCLE_TIME={1/freq}
    {% endif %}
    G4 P{time}
    SET_PIN PIN=_BEEPER VALUE=0
    
#####################################################################
# 	LCD Macro
#####################################################################
##  Clear display after Duration  
[delayed_gcode _CLEAR_DISPLAY]
gcode:
  M117

[delayed_gcode clear_display]
initial_duration: 0.
gcode:
 M117
  
[delayed_gcode _LCD_INIT_KNOB]
initial_duration: 1
gcode:
  _LCD_KNOB COLOR=GREEN SYNC=0

#[delayed_gcode _LCD_INIT_OFF]
#initial_duration: 10
#gcode:
#  SET_GCODE_VARIABLE MACRO=DISPLAY VARIABLE=state VALUE='"off"'
#  SET_LED LED=neo_display RED=0 GREEN=0 BLUE=0 INDEX=1 TRANSMIT=1 SYNC=0

[delayed_gcode _LCD_INIT_DISP]
initial_duration: 5
gcode:
  SET_GCODE_VARIABLE MACRO=DISPLAY VARIABLE=state VALUE='"on"'
  SET_LED LED=neo_display RED=0.8 GREEN=0.8 BLUE=1.0 INDEX=3 TRANSMIT=1 SYNC=0
  _DISPLAY_STATE


[gcode_macro _LCD_KNOB]
description: Helper: Set LCD Knob color
variable_color: 'GREEN'
variable_restore: 'GREEN'
variable_index: 1
variable_blink: 0
variable_sync: 1
gcode:
  # set default parameter value
  {% set time = params.BLINK|default(0)|float %}
  SET_GCODE_VARIABLE MACRO=_LCD_KNOB VARIABLE=sync VALUE={params.SYNC|default(1)}
  {% set var_color=printer["gcode_macro _LCD_KNOB"].color %}
  {% set var_restore=printer["gcode_macro _LCD_KNOB"].restore %}
  SET_GCODE_VARIABLE MACRO=_LCD_KNOB VARIABLE=blink VALUE={time}
  UPDATE_DELAYED_GCODE ID=_BLINK_DELAY DURATION={time}
  SET_GCODE_VARIABLE MACRO=_LCD_KNOB VARIABLE=restore VALUE='"{var_color}"'
  {% if params.COLOR == 'GREEN'%}
    SET_GCODE_VARIABLE MACRO=_LCD_KNOB VARIABLE=color VALUE='"GREEN"'
    SET_LED LED=neo_display RED=0 GREEN=0.3 BLUE=0 INDEX=2 TRANSMIT=0 SYNC={sync} 
    SET_LED LED=neo_display RED=0 GREEN=0.3 BLUE=0 INDEX=1 TRANSMIT=1 SYNC={sync}
  {% elif params.COLOR == 'RED'%}
    SET_GCODE_VARIABLE MACRO=_LCD_KNOB VARIABLE=color VALUE='"RED"'
    SET_LED LED=neo_display RED=0.5 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0 SYNC={sync}
    SET_LED LED=neo_display RED=0.5 GREEN=0 BLUE=0 INDEX=1 TRANSMIT=1 SYNC={sync}
  {% elif params.COLOR == 'BLUE'%}
    SET_GCODE_VARIABLE MACRO=_LCD_KNOB VARIABLE=color VALUE='"BLUE"'
    SET_LED LED=neo_display RED=0 GREEN=0 BLUE=0.5 INDEX=2 TRANSMIT=0 SYNC={sync}
    SET_LED LED=neo_display RED=0 GREEN=0 BLUE=0.5 INDEX=1 TRANSMIT=1 SYNC={sync}
  {% else %}
    {% if var_restore == 'GREEN'%}
      SET_GCODE_VARIABLE MACRO=_LCD_KNOB VARIABLE=color VALUE='"GREEN"'
      SET_LED LED=neo_display RED=0 GREEN=0.3 BLUE=0 INDEX=2 TRANSMIT=0 SYNC={sync}
      SET_LED LED=neo_display RED=0 GREEN=0.3 BLUE=0 INDEX=1 TRANSMIT=1 SYNC={sync}
    {% elif var_restore == 'RED'%}
      SET_GCODE_VARIABLE MACRO=_LCD_KNOB VARIABLE=color VALUE='"RED"'
      SET_LED LED=neo_display RED=0.5 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0 SYNC={sync}
      SET_LED LED=neo_display RED=0.5 GREEN=0 BLUE=0 INDEX=1 TRANSMIT=1 SYNC={sync}
    {% elif var_restore == 'BLUE'%}
      SET_GCODE_VARIABLE MACRO=_LCD_KNOB VARIABLE=color VALUE='"BLUE"'
      SET_LED LED=neo_display RED=0 GREEN=0 BLUE=0.5 INDEX=2 TRANSMIT=0 SYNC={sync}
      SET_LED LED=neo_display RED=0 GREEN=0 BLUE=0.5 INDEX=1 TRANSMIT=1 SYNC={sync}
    {% endif %}
  {% endif %}
  
[delayed_gcode _BLINK_DELAY]
gcode:
  {% set var_color=printer["gcode_macro _LCD_KNOB"].color %}
  {% set sync=printer["gcode_macro _LCD_KNOB"].sync %}
  {% if printer["gcode_macro _LCD_KNOB"].index|int == 2 %}
    SET_GCODE_VARIABLE MACRO=_LCD_KNOB VARIABLE=index VALUE=3
    {% if var_color == 'GREEN'%}
      SET_LED LED=neo_display RED=0.0 GREEN=0.3 BLUE=0.0 INDEX=2 TRANSMIT=0 SYNC={sync}
      SET_LED LED=neo_display RED=0.0 GREEN=0.0 BLUE=0.0 INDEX=1 TRANSMIT=1 SYNC={sync}
    {% elif var_color == 'RED'%}
      SET_LED LED=neo_display RED=0.5 GREEN=0.0 BLUE=0.0 INDEX=2 TRANSMIT=0 SYNC={sync}
      SET_LED LED=neo_display RED=0.0 GREEN=0.0 BLUE=0.0 INDEX=1 TRANSMIT=1 SYNC={sync}
    {% elif var_color == 'BLUE'%}
      SET_LED LED=neo_display RED=0.0 GREEN=0.0 BLUE=0.5 INDEX=2 TRANSMIT=0 SYNC={sync}
      SET_LED LED=neo_display RED=0.0 GREEN=0.0 BLUE=0.0 INDEX=1 TRANSMIT=1 SYNC={sync}
    {% endif %}
  {% else %}
    SET_GCODE_VARIABLE MACRO=_LCD_KNOB VARIABLE=index VALUE=2
    {% if var_color == 'GREEN'%}
      SET_LED LED=neo_display RED=0.0 GREEN=0.0 BLUE=0.0 INDEX=2 TRANSMIT=0 SYNC={sync}
      SET_LED LED=neo_display RED=0.0 GREEN=0.3 BLUE=0.0 INDEX=1 TRANSMIT=1 SYNC={sync}
    {% elif var_color == 'RED'%}
      SET_LED LED=neo_display RED=0.0 GREEN=0.0 BLUE=0.0 INDEX=2 TRANSMIT=0 SYNC={sync}
      SET_LED LED=neo_display RED=0.5 GREEN=0.0 BLUE=0.0 INDEX=1 TRANSMIT=1 SYNC={sync}
    {% elif var_color == 'BLUE'%}
      SET_LED LED=neo_display RED=0.0 GREEN=0.0 BLUE=0.0 INDEX=2 TRANSMIT=0 SYNC={sync}
      SET_LED LED=neo_display RED=0.0 GREEN=0.0 BLUE=0.5 INDEX=1 TRANSMIT=1 SYNC={sync}
    {% endif %}
  {% endif %}
  UPDATE_DELAYED_GCODE ID=_BLINK_DELAY DURATION={printer["gcode_macro _LCD_KNOB"].blink|float}

[gcode_macro DISPLAY]
description: Toggle Display backlight
variable_state: 'on'
gcode:
  {% if printer["gcode_macro DISPLAY"].state == 'on' %}
    _DISPLAY_OFF
  {% else %}
    _DISPLAY_ON
  {% endif %}
    
[gcode_macro _DISPLAY_STATE]
description: Helper: Print display backlight state
gcode:
  {action_respond_info("LCD display %s" % (printer["gcode_macro DISPLAY"].state))}

[gcode_macro _DISPLAY_OFF]
description: Helper: Display backlight off
gcode:
  SET_GCODE_VARIABLE MACRO=DISPLAY VARIABLE=state VALUE='"off"'
  SET_LED LED=neo_display RED=0 GREEN=0 BLUE=0 INDEX=3 TRANSMIT=1 SYNC=0
  _DISPLAY_STATE

[gcode_macro _DISPLAY_ON]
description: Helper: Display backlight on
gcode:
  SET_GCODE_VARIABLE MACRO=DISPLAY VARIABLE=state VALUE='"on"'
  SET_LED LED=neo_display RED=0.8 GREEN=0.8 BLUE=1.0 INDEX=3 TRANSMIT=1 SYNC=0
  _DISPLAY_STATE